.content-picture
  width: 80%;
  margin: 0 auto;
  display: block;
.one-p
  width: 100%;
.content-article
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
.fixedpanel
  h1
    width: 90%;
    text-align: center;
    margin: 0 auto;