$normal_white = #eee;
$normal_blue = #67bdfa;
$normal_header_blue = #1b9df6;
$normal_scroll_router = #484b57;
$normal_scroll_router_active = #ecc15b;
$article_title = #323232;
$article_content = #666;
$article_padding_bottom = #e1e1e1;
hidden_text()
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;